.login-container {
  margin: 0px !important;
  min-height: 100vh;
  background-image: linear-gradient(rgba(113, 74, 255, 0.36), rgba(113, 74, 255, 0.36)), url("../../images/sign.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

.login-container .hero-text-container {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px;
  background: rgba(113, 74, 255, 0.7);
}

.login-container .hero-text-container div {
  display: inline-block;
  border: 3px solid #ffffff;
  padding: 10px 80px;
}

.login-container .hero-text-container div p {
  font-size: 70px;
  font-weight: 100;
}
